<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ApiBaseUrl" value="https://localhost:44397/api/" />
		<add key="SyncIntervalMinutes" value="1440" />
		<!-- Default to daily -->
		<add key="ApiKey" value="your-api-key-here" />
	</appSettings>
</configuration>